body {
    padding-bottom: 20px;
}

.navbar-inner,
.navbar-header {
    min-height: 90px !important;
}

.navbar {
    margin-bottom: 0px;
}

.navbar-nav > li > a {
    line-height: 60px;
    font-size: 25px;
}

.splash > p {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 30px;
    margin-right: 350px;
}

.btn-oval {
  width: 600px;
  height: 100px;
  text-align: center;
  padding: 6px 0;
  font-size: 60px;
  line-height: 1.42;
  border-radius: 50px;
  color: white;
  background-color: crimson;
}